.table {
    width: 90%;
    margin: 0 auto;

}

.graph {
    width: 60%;
    margin: 0 auto;
}

.dropdown {
    margin-top: 5%;
    width: 25%;
    margin: 20px auto; 

}

.banks-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 100px;
}

.conatct-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.banner-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ad-container {
    width: 320px; /* Width of the ad */
    height: 50px; /* Height of the ad */
    margin: 0 auto; /* Center the ad horizontally */
  }

@media screen and (max-width: 960px) {
  
    .dropdown {
        width: 50%;
        margin: 20px auto;
    }

    .table {
        width: 90%;
    }

    .graph {
        width: 100%;
        max-width: 100%;
        padding-right: 10%;
    }

    h1 {
        display: none;
    }

    .banks-data {
        padding: 30px;
    }

    .graph {
        display: none;
    }
}